<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="melios_tailwind_info" xsi:type="object">Melios\PageBuilder\Console\Command\TailwindInfo</item>
                <item name="melios_tailwind_download" xsi:type="object">Melios\PageBuilder\Console\Command\TailwindDownload</item>
            </argument>
        </arguments>
    </type>

    <!-- Allow uploading and resizing modern media formats -->
    <type name="Magento\Framework\File\Uploader">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\FileUploader" />
    </type>
    <type name="Magento\Framework\Image\Adapter\Gd2">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ImageGd2" />
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="avif" xsi:type="string">image/avif</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="avif" xsi:type="string">image/avif</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\MediaGalleryRenditionsApi\Api\GenerateRenditionsInterface" type="Melios\PageBuilder\Model\Gallery\GenerateRenditions"/>
    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="avif" xsi:type="string">avif</item>
                <item name="webp" xsi:type="string">webp</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\MediaGalleryRenditions\Model\Queue\FetchRenditionPathsBatches">
        <arguments>
            <argument name="fileExtensions" xsi:type="array">
                <item name="avif" xsi:type="string">avif</item>
                <item name="webp" xsi:type="string">webp</item>
            </argument>
        </arguments>
    </type>

    <!-- Background loading mode for all content types with bg attributes -->
    <type name="Magento\PageBuilder\Model\Config\ContentType\Reader">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ContentTypeReader" />
    </type>
</config>
