<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Allow uploading and resizing modern media formats -->
    <type name="Magento\Framework\File\Uploader">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\FileUploader" />
    </type>
    <type name="Magento\Framework\Image\Adapter\Gd2">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ImageGd2" />
    </type>
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="avif" xsi:type="string">image/avif</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="avif" xsi:type="string">image/avif</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Background loading mode for all content types with bg attributes -->
    <type name="Magento\PageBuilder\Model\Config\ContentType\Reader">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ContentTypeReader" />
    </type>

    <!-- Additional fields for each breakpoint (Margin/padding) -->
    <type name="Magento\PageBuilder\Model\ConfigInterface">
        <!-- Send "render/*_mobile_form" request for all components -->
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\PageBuilderConfig" />
    </type>
    <type name="Magento\Ui\Config\Reader\FileResolver">
        <!-- Add additional fields dynamically -->
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\UiFileResolver" />
    </type>
    <type name="Magento\Framework\View\Model\Layout\Merge">
        <!-- Add <uiComponent name="*_mobile_form"> dynamically -->
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ViewLayoutMerge" />
    </type>
    <!-- <type name="Magento\PageBuilder\Model\Stage\Config\UiComponentConfig">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\ComponentConfig" />
    </type> -->
</config>
