@import (less) 'Melios_PageBuilder::js/lib/codemirror/lib/codemirror.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/addon/dialog/dialog.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/addon/display/fullscreen.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/addon/lint/lint.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/addon/search/matchesonscrollbar.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/addon/scroll/simplescrollbars.css';
@import (less) 'Melios_PageBuilder::js/lib/codemirror/theme/material-darker.css';

.CodeMirror {
    width: 100%;
    border: 1px solid #adadad;

    &:hover {
        border-color: #878787;
    }

    &-fullscreen {
        border: 0;
        .ui-resizable-s {
            display: none;
        }
    }

    .ui-resizable-s {
        position: absolute;
        left: auto;
        bottom: 1px;
        right: 1px;
        width: 15px;
        height: 15px;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 150%;
            height: 1px;
            transform: rotate(-45deg);
            opacity: .5;
            background: #000;
            box-shadow: 0 3px #000,
                        0 6px #000;
        }
    }

    .CodeMirror-widget:has(.mls-transparent) {
        opacity: 1;
        background: transparent;
        border: 0;

        &:hover {
            opacity: 1;
            background: transparent;
        }
    }

    .mls-cm-textmark {
        vertical-align: middle;
        cursor: default;
    }

    &.cm-s-material-darker {
        color: #fff;
        .mls-cm-textmark {
            svg[data-mls-dark] {
                filter: invert(.95);
            }
        }
        .ui-resizable-s::before {
            background: #fff;
            box-shadow: 0 3px #fff,
                        0 6px #fff;
        }
        .CodeMirror-gutters {
            border-right: 1px solid #2d2d2d; // fixed theme 1px jumping bug.
        }
        .CodeMirror-activeline-background {
            background: ~"rgb(255 255 255 / 5%)";
        }
        .CodeMirror-matchingtag {
            background: ~"rgb(71 107 85 / 50%)";
        }
        .CodeMirror-overlayscroll-horizontal div,
        .CodeMirror-overlayscroll-vertical div {
            background: #666;
        }
        .cm-searching {
            background: ~"rgb(255 255 0 / 20%)";
        }
        &.CodeMirror-focused div.CodeMirror-selected,
        div.CodeMirror-selected {
            background: ~"rgb(255 255 255 / 20%)";
        }
    }
}
.mls-cm-controls {
    position: absolute;
    top: 8px;
    right: 14px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    border-radius: 999px;
    background: #eee;
    padding: 8px 13px;
    opacity: .65;
    max-width: 50px;
    overflow: hidden;
    transition-property: opacity, max-width;
    transition-timing-function: ~"cubic-bezier(0.4, 0, 0.2, 1)";
    transition-duration: 150ms;

    &:hover {
        opacity: 1;
        width: auto;
        overflow: visible;
        max-width: 150px;
        button {
            transform: none;
            opacity: 1;
        }
    }

    button {
        --mls-btn-size: 24px;
        opacity: 0;
        transform: ~"translateX(calc(var(--mls-btn-i) * var(--mls-btn-size)))";
        transition-property: opacity, transform;
        transition-timing-function: ease;
        transition-duration: 150ms;

        flex-shrink: 0;
        border: 0;
        background: none;
        padding: 0;
        margin: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        > span {
            display: inline-flex;
            align-items: center;
            gap: 2px;
        }

        svg {
            flex-shrink: 0;
            fill: none;
        }

        &:active {
            transform: scale(.95);
        }

        &:nth-child(1) { --mls-btn-i: 2; }
        &:nth-child(2) { --mls-btn-i: 1; }
        &:last-child {
            --mls-btn-i: 0;
            opacity: 1;
        }
    }

    [data-action="toggleFullscreen"] {
        &[data-value="true"] {
            svg:nth-child(1) {
                display: none;
            }
        }
        &[data-value="false"] {
            svg:nth-child(2) {
                display: none;
            }
        }
    }
    [data-action="toggleTheme"] {
        mask-image: ~"radial-gradient(rgb(0 0 0 / 100%) 9px, transparent 13px)";
        border-radius: 999px;
        span,
        svg {
            transition-property: transform, opacity;
            transition-duration: 500ms, 420ms;
            transintion-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
        &[data-value="light"] {
            span {
                transform: translateX(-11px);
            }
            svg:nth-child(1) { // moon
                opacity: 0;
                transform: scale(.4);
            }
        }
        &[data-value="dark"] {
            span {
                transform: translateX(11px);
            }
            svg:nth-child(2) { // sun
                opacity: 0;
                transform: scale(.4);
            }
        }
    }
}
.cm-s-material-darker {
    .mls-cm-controls {
        background: #101010;
        button {
            color: #b6b6b6;
        }
    }
}
