@import '_buttons.less';
@import '_columns.less';
@import '_spotlight.less';
@import '_image.less';
@import '_mobile-breakpoints.less';
@import '_tailwind.less';
@import '_widget.less';

@import (multiple) '_codemirror.less';
.tox {
    // reset .tox :not(svg):not(rect) styles
    @import (multiple) '_codemirror.less';

    &:has(.CodeMirror) {
        .tox-form {
            height: 100%;
        }
        .tox-form__group--stretched {
            height: 100%;
            margin: 0;
        }
        .tox-dialog__body-content {
            max-height: ~"min(650px,calc(100vh - 130px))";
        }
    }

    .CodeMirror {
        border: 0;
        height: auto;
    }
}

// Move element options a bit higher so it doesn't overlap the content.
// Critical for "text" element.
.pagebuilder-options {
    transform: translate(0, -80%);
}
.pagebuilder-options.pagebuilder-options-middle {
    transform: translate(50%, -80%);
}
// Better toolbar show/hide timings
.pagebuilder-options {
    transition-delay: 100ms; // wait before hide
    &-visible {
        transition-delay: 50ms; // wait before show
    }
}
// Do not show image uploader when hovering outer column
.pagebuilder-image-uploader-container {
    .pagebuilder-options {
        pointer-events: none;
        &-visible {
            pointer-events: auto;
        }
    }
}
