// Spotlight
.pagebuilder-header .spotlight-buttons {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
    color: #f7f3eb;

    span {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 12px;
        cursor: pointer;
        &:hover {
            background: #4a4542;
        }
        &.active {
            background: #000;
        }
    }

    .panel-hide {
        opacity: .5;
    }

    .spotlight-faux-input {
        cursor: text;
        color: ~"rgb(255 255 255 / 50%)";
        padding: 4px 6px 4px 8px;
        border-radius: 6px;
        background: #4a4542;
        user-select: none;
        .hotkey {
            pointer-events: none;
            display: inline-flex;
            margin-left: 25px;
            padding: 0px 7px;
            border: 1px solid ~"rgb(239 233 228 / 20%)";
            border-radius: 5px;
            font-size: 12px;
            background: ~"rgb(255 255 255 / 5%)";
        }
    }
}

.pagebuilder-wysiwyg-snapshot {
    .pagebuilder-stage-wrapper.hidden-sidebar {
        .pagebuilder-header {
            width: 100%;
            left: 0;
        }
        .pagebuilder-panel-wrapper {
            display: none;
        }
        .pagebuilder-stage {
            width: 100%;
            margin-left: 0;
        }
    }
}

.mls-focusable {
    // Override important style in MagentoPageBuilder
    &.mls-focusable.mls-focusable.mls-focusable.mls-focusable.mls-focusable {
        display: block !important;
    }
    &:focus-visible {
        transition: none;
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }
}
.mls-hide-sortable-placeholder {
    .pagebuilder-sortable-placeholder {
        opacity: 0;
    }
}

// Fix for pagebuilder inside modal
.modal-slide:has(.pagebuilder-stage-wrapper.stage-full-screen:not(.transition-out)) {
    margin: 0 !important;
    left: 0;
}

// Image improvements
.mls-hide-labels {
    width: 37px;
    .admin__actions-switch-text::before {
        padding-left: 37px;
        content: '' !important;
    }
}
.mls-dimensions {
    .admin__field-small > .admin__field-control {
        width: 10.35rem !important;
    }
}
.mls-aspect-ratio {
    width: 20px;
    opacity: .8;
    &:hover {
        opacity: 1;
    }

    &,
    + div {
        padding-left: 7px !important;
    }
    &.admin__field-small > .admin__field-control {
        width: auto !important;
    }
    .admin__field-option {
        position: relative;
        &:has(:focus-visible) {
            &:extend(._keyfocus *:focus);
        }
    }
    input[type="checkbox"] {
        inset: 0;
        margin: 0 !important;
        &:disabled {
            ~ svg {
                opacity: .5;
            }
        }
    }
}

// Mobile breakpoint notice
.admin__field-mobile-breakpoint-notice {
    .admin__field-control._with-tooltip {
        display: flex;
        .admin__field-tooltip {
            &:extend(.admin__fieldset .admin__field.admin__field-min-height-mobile-with-notice .admin__field-control._with-tooltip .admin__field-tooltip);
            &-action {
                &:extend(.admin__fieldset .admin__field.admin__field-min-height-mobile-with-notice .admin__field-control._with-tooltip .admin__field-tooltip-action all);
            }
            &-content {
                &:extend(.admin__fieldset .admin__field.admin__field-min-height-mobile-with-notice .admin__field-control._with-tooltip .admin__field-tooltip-content all);
                p {
                    &:extend(.admin__fieldset .admin__field.admin__field-min-height-mobile-with-notice .admin__field-control._with-tooltip .admin__field-tooltip-content p);
                }
            }
        }
    }
    &.admin__field-small > {
        .admin__field-control._with-tooltip {
            width: 17rem;
        }
    }
}

// Code Editor
.CodeMirror {
    border: 1px solid #adadad;

    &:hover {
        border-color: #878787;
    }

    &-fullscreen {
        border: 0;
        .ui-resizable-s {
            display: none;
        }
    }

    .ui-resizable-s {
        position: absolute;
        left: auto;
        bottom: 1px;
        right: 1px;
        width: 15px;
        height: 15px;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 150%;
            height: 1px;
            transform: rotate(-45deg);
            opacity: .5;
            background: #000;
            box-shadow: 0 3px #000,
                        0 6px #000;
        }
    }

    .CodeMirror-widget:has(.mls-transparent) {
        opacity: 1;
        background: transparent;
        border: 0;

        &:hover {
            opacity: 1;
            background: transparent;
        }
    }

    &.cm-s-material-darker {
        .CodeMirror-activeline-background {
            background: ~"rgb(255 255 255 / 5%)";
        }
        .CodeMirror-matchingtag {
            background: ~"rgb(71 107 85 / 50%)";
        }
        .CodeMirror-overlayscroll-horizontal div,
        .CodeMirror-overlayscroll-vertical div {
            background: #666;
        }
        .cm-searching {
            background: ~"rgb(255 255 0 / 20%)";
        }
        &.CodeMirror-focused div.CodeMirror-selected,
        div.CodeMirror-selected {
            background: ~"rgb(255 255 255 / 20%)";
        }
    }
}
.mls-cm-controls {
    position: absolute;
    top: 8px;
    right: 14px;

    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: #eee;
    padding: 10px 15px;

    button {
        border: 0;
        background: none;
        padding: 0;
        margin: 0;

        display: inline-flex;
        align-items: center;
        gap: 2px;
    }

    [data-action="toggleFullscreen"] {
        &[data-value="true"] {
            svg:nth-child(1) {
                display: none;
            }
        }
        &[data-value="false"] {
            svg:nth-child(2) {
                display: none;
            }
        }
    }
    [data-action="toggleTheme"] {
        &[data-value="default"] {
            svg:nth-child(1) {
                display: none;
            }
        }
        &:not([data-value="default"]) {
            svg:nth-child(2) {
                display: none;
            }
        }
    }
}
