.pagebuilder-melios-widget-container {
    &:extend(.placeholder-html-code);
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    font-weight: 600;
    > div {
        display: flex;
        align-items: center;
        gap: 6px;
        &::before {
            .icon-admin-pagebuilder-systems;
            content: '\e612';
            font-size: 14px;
        }
    }
}

.icon-admin-pagebuilder-widgets {
    &:extend(.icon-admin-pagebuilder-systems all);
    &::before {
        content: '\e612';
    }
}
