<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Unset image width/height duplicates  -->
    <type name="Magento\Framework\View\Layout\Generator\Structure">
        <plugin name="melios_page_builder" type="Melios\PageBuilder\Plugin\UiLayoutGenerator" />
    </type>

    <!-- Magento < 2.4.7 -->
    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="avif" xsi:type="string">avif</item>
                <item name="webp" xsi:type="string">webp</item>
            </argument>
        </arguments>
    </type>
</config>
